body {
    background-image: url("images/background.png");
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font-family: Tahoma;
}
.headerText{
    text-align: center;
    font-size: 24pt ;
    font-weight: bold;
}
.container{
    margin: auto;
    width: 800px;
    border: 4px solid gray;
    overflow: hidden;
}
.header{
    background-image: url("images/bannerbackground.png");
    background-repeat: repeat-x;
    height: 50px;
    width: 100%;
    text-align: center;
}
.header > img{
    display: inline;
}
.movie-box{
    float: right;
    width: 250px;
    padding: 0;
    background-color: #A2B964;
}
.comment-box{
    float: left;
    width: 550px;
}
.comment-box_header{
    background-image: url("images/rottenbackground.png");
    background-repeat: repeat-x;
    height: 83px;
    
}
.comment-box_header > img {
}
.number{
    clear: both;
    text-align: center;
    background-color: #A2B964;
    padding: 0px;
    margin: 0px;
}
.rotimg{
    vertical-align: bottom;
}
.comment-box_header-text_head{
	font-size: 48pt;
	color: red;
    font-weight: bold;
}
.comment-box_header-text{
    color: white;
	font-size: 8pt;    
}
dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10pt;
}
.descript {
    padding: 0pt 10pt;
    font-size: 8pt;
    background-color: #A2B964;
    margin: 0px;
    
}
.comment-box_body{

}
.columnLeft{
    float: left;
    width: 47%;
    margin: 2%;
}
.columnRight{
    float: right;
    width: 47%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.quote{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    margin: 2%;
    overflow: hidden;
}
.tomatoTypePic{
    margin-right: 5px;
    float: left;
}
.user{
    padding: 8px;
    margin: 2%;
    overflow: hidden;
    position: relative;
}
.user_pic{
    margin-right: 5px;
    margin-bottom: 3em;
    float: left;
}